#output
{
    background: rgb(240, 194, 46);
    border-radius: 10px;
    border-top: 10px solid rgb(243, 71, 41);
    padding: 10px;
    float: none;
    text-align: left;
}

body{
    background: rgb(240, 175, 205);
}

input{
    width: 1100px;
}
button{
    background: burlywood;
}

h4{
    color:black;
}